In [1]:
#task 1

a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717, 
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291)) 

print(a_tuple[3][3])

400

In [3]:
#task 2

tup = (10, 20, 24, 25, 26, 35, 70) 

tup_lst = list(tup)

print(tuple(tup_lst[2:-2]))

(24, 25, 26)

In [ ]:
#task 3

book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)

print(f"size of this tuple is: {len(book_info)}")

for i in book_info:
  print(i)

In [4]:
#task 4


book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
) 

for i in book_info:
    print(f"{i[1]} won the '{i[0]}' category with {i[2]} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [7]:
#task 5

tup = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

l = list(tup)
count = 0
n = int(input())

for i in l:
  if n == i:
    count += 1

print(f"{n} appears {count} times in the tuple")

8 appears 4 times in the tuple

In [10]:
#task 6

tup = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h') 


lst = list(tup)
new_lst = []

for i in lst[ : :-1]:
  new_lst += [i]

tup2 = tuple(new_lst)
print(tup2)

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [11]:
#task 7

dic1 = {'Harry':15, 'Draco':8, 'Nevil':19} 
dic2 = {'Ginie':18, 'Luna': 14}
marks = {**dic1, **dic2}

print(marks)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [18]:
#task 8

txt = input("enter the string").strip("{}").split(", ")
dic = {}
total = 0
times = 0

for record in txt:
    temp_lst = record.split(":")
    dic[temp_lst[0]] = int(temp_lst[1])

for value in dic.values():
    total += value
    times += 1

print(f"Average is {int(total/times)}")

Average is 110

In [19]:
#task 9

exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
higher_marks = {}
num = int(input())

for name,marks in exam_marks.items():
  if marks>num:
    higher_marks[name] = marks

print(higher_marks)

{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [20]:
#task 10

dic = {'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}

max = dic['sci fi']
gen = ''
for genre,sold in dic.items():
  if sold > max:
    max = sold 
    gen = genre 

print(f"The highest selling book genre is '{gen}'and the number of books sold are {max}.")

The highest selling book genre is 'horror'and the number of books sold are 14.

In [21]:
#task 11

txt = input()
count = {}
for char in txt:
  if char == ' ':
    continue
  if 65<=ord(char)<=95:
    ascii = ord(char) + 32
    char = chr(ascii)
  if char not in count.keys():
    count[char] = 1
  else:
    count[char] += 1
    
print(count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [1]:
#task 12

dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
num = 0

for i in dict_1:
    for j in dict_1[i]:
        num += 1

print(num)

9

In [4]:
#task 13

list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dic = {}

for i in range(len(list_1)):
    if list_1[i][0] in dic:
        dic[list_1[i][0]] += [list_1[i][1]]
    else:
        dic[list_1[i][0]] = [list_1[i][1]]

print(dic)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}